.stge__home-filters {
    height: 100%;
    border-right: 1px solid #ccc;
}

.stge__home-tutors {
    height: auto !important;
    border: none !important;
}

.stge__home-functions_tutor table {
    width: 90%;
}

.stge__home-functions_tutor-events {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 2rem;
}
