.stge__split-title {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--orange-color);
}

.stge__split-title h1 {
    text-align: center;
    font-size: 8rem;
}

.stge__split-title p {
    font-weight: bold;
}

@media screen and (max-width: 1550px) {
    .stge__split-title h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 1150px) {
    .stge__split-title h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .stge__split-title {
        display: none;
    }
}
