input:not([type="checkbox"]) {
    width: 100%;
    padding: 0.75rem 0.5rem;
    font-size: medium;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.176);
}

input:disabled {
    cursor: not-allowed;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    font-size: medium;

    color: white;
    background-color: #2a66e7;

    cursor: pointer;
}

button:hover {
    background-color: #1c4cb4;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgba(42, 102, 231, 0.5);
}

a {
    color: #2a66e7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    outline: none;

    font-size: 1rem;
    cursor: pointer;
}

option {
    font-size: 1rem;
}
