.stge__admin {
    height: 85vh;

    display: flex;
    align-items: start;
    justify-content: center;
}

.stge__admin-wrapper {
    height: 100%;
    width: 75%;
    padding: 2rem 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.stge__admin-functions {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stge__admin-functions input {
    width: 50% !important;
}

.stge__admin-workers {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;
    overflow-y: auto;
}

.stge__admin-workers h3 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .stge__admin-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .stge__admin-wrapper {
        width: 100%;
        margin: 0 1rem;
    }
}